<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.spring.mapper.NoticeMapper">
    
    <select id="getNoticeList" resultType="com.spring.imfind.el.domain.NoticeVO">
	   	SELECT * From imfind.NoticeBoard WHERE delYN = "N" order by noticeBno desc limit #{pageStart}, #{perPageNum}
   	</select>
    
    <insert id="noticeInsert" >
    	INSERT INTO imfind.NoticeBoard
			(noticeBno, noticeTitle, id, noticeDate, noticeContent, delYN)
		VALUES(#{noticeBno}, #{noticeTitle}, #{id}, now(), #{noticeContent}, #{delYN})
    </insert>
    
    <select id="getNoticeCount" resultType="Integer">
    	<![CDATA[ SELECT count(*) From imfind.NoticeBoard WHERE delYN = "N" ]]>
    </select>
    <select id="getNoticeInfo" resultType="com.spring.imfind.el.domain.NoticeVO">
    	SELECT * From imfind.NoticeBoard WHERE noticeBno = #{noticeBno}
    </select>
    
    <update id="noticeModify">
    	UPDATE imfind.NoticeBoard SET
    		noticeTitle=#{noticeTitle}, noticeContent=#{noticeContent}, noticeDate=now()
    	WHERE noticeBno=#{noticeBno}
    </update>
    
    <update id="noticeDelete">
    	UPDATE imfind.NoticeBoard SET delYN=#{delYN} WHERE noticeBno=#{noticeBno}
    </update>
    
    <update id="noticeReadCount">
    	UPDATE imfind.NoticeBoard SET readcount = readcount + 1 WHERE noticeBno=#{noticeBno}
    </update>
    
    <update id="noticeArrDelete" parameterType="int">
   		UPDATE imfind.NoticeBoard SET delYN="Y" WHERE noticeBno=#{noticeBno}
  	</update>  
    
    </mapper>